@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.property-type-btn {
		@apply flex h-20 w-0 flex-grow flex-col items-center justify-center gap-1 rounded-lg bg-white text-sm text-secondary-light;
	}
	.range-input {
		position: absolute;
		padding: 0;
		border: none;
		width: 100%;
		height: 5px;
		top: -5px;
		background: none;
		pointer-events: none;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

@layer base {
	h1 {
		@apply text-xl font-semibold;
	}
	h2 {
		@apply text-base font-semibold;
	}
	input {
		@apply border-b-2 border-transparent  bg-transparent px-1 py-2 text-sm  text-secondary-light outline-none placeholder:text-secondary-extralight focus:border-border;
	}
	button {
		@apply border-none outline-none;
	}
	input[type='range']::-webkit-slider-thumb {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #3a47e4;
		pointer-events: auto;
		cursor: pointer;
		-webkit-appearance: none;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
	}
	input[type='range']::-moz-range-thumb {
		height: 16px;
		width: 16px;
		border: none;
		border-radius: 50%;
		background: #3a47e4;
		pointer-events: auto;
		cursor: pointer;
		-moz-appearance: none;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
	}

	::-webkit-scrollbar {
		border-radius: 4px;
		width: 4px;
		background-color: transparent;
		background-color: #d3d3d359;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: #3a47e4;
		cursor: pointer;
	}
	::-moz-scrollbar-thumb {
		background-color: #3a47e4;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

body {
	color: #2e2e2e;
	background: #f5f5f5;
}
